<a href="https://colab.research.google.com/github/jescarraga/AlgorithmsUN2021II/blob/main/Lab1/jescarraga_QuanconnectTutortials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Types and Data Structures**

## Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

#Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [140]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [141]:
my_string1 = 'Tutorial'
my_string2 = "Algoritmos y QuantConnect"
print(my_string1 + ' ' + my_string2)

Tutorial Algoritmos y QuantConnect

An integer is a round number with no values after the decimal point.

In [142]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [143]:
my_int = 6
print(my_int)
print(type(my_int))

6
<class 'int'>

The built-in function int() can convert a string into an integer.

In [144]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [145]:
my_string = "621"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float.

In [146]:
my_float = 1.0
print(type(my_float))
my_int = 1
print(type(my_int))

<class 'float'>
<class 'int'>

In [147]:
my_float = 6.0
print(type(my_float))
my_int = 8
print(type(my_int))

<class 'float'>
<class 'int'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [148]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [149]:
my_string = "720"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [150]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [151]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

# Basic Math Operations
﻿
The basic math operators in python are demonstrated below:

In [152]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division", 10/2)
print("exponent", 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division 5.0
exponent 8

In [153]:
print("Suma ", 3+3)
print("Resta ", 10-5)
print("Multiplicacion ", 5*5)
print("Division", 6/3)
print("exponente", 2**4)

Suma  6
Resta  5
Multiplicacion  25
Division 2.0
exponente 16

# Data Collections
# List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [154]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [155]:
ls = ['algo', 'Ritmo', 6,5,4]
print(ls)

['algo', 'Ritmo', 6, 5, 4]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [156]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) - 1])

5
Quant
3

In [157]:
ls = ['algo', 'Ritmo', 6,5,4]
print(len(ls))
print(ls[1])
print(ls[len(ls) - 1])

5
Ritmo
4

You can also change the elements in the list by accessing an index and assigning a new value.

In [158]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [159]:
ls = ['algo', 'Ritmo', 6,5,4]
ls[2] = 'vamos'
print(ls)

['algo', 'Ritmo', 'vamos', 5, 4]

A list can also be sliced with a colon:

In [160]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [161]:
ls = ['algo', 'Ritmo', 6,5,4]
print(ls[2:4])

[6, 5]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [162]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:])

['Connect', 1, 2, 3]

In [163]:
ls = ['algo', 'Ritmo', 6,5,4]
print(ls[2:])

[6, 5, 4]

And all elements up to but excluding index 3:

In [164]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[:3])

['Quant', 'Connect', 1]

In [165]:
ls = ['algo', 'Ritmo', 6,5,4]
print(ls[:4])

['algo', 'Ritmo', 6, 5]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [166]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

my_list.remove('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

In [167]:
ls = ['algo', 'Ritmo', 6,5,4]
ls.append('Guacamaya')
print(ls)

ls.remove('Guacamaya')
print(ls)

['algo', 'Ritmo', 6, 5, 4, 'Guacamaya']
['algo', 'Ritmo', 6, 5, 4]

When there are repeated instances of "Hello", the first one is removed.

# Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [168]:
my_tuple = ('Welcome','to','QuantConnect')

In [169]:
mi_tupla = ('Bienvenido','a','QuantJordan')

Just like a list, a tuple can be sliced by using index.

In [170]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [171]:
mi_tupla = ('Bienvenido','a','QuantJordan')
print(mi_tupla[2:])

('QuantJordan',)

# Set
A set is an unordered collection with no duplicate elements. The built-in function set() can be used to create sets.

In [172]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'GOOG', 'IBM', 'F', 'FB', 'AAPL'}

In [173]:
marcas = ['ADIDAS','PUMA','GUCCI','ADIDAS','PUMA',"PRADA",'LV']
marcas = set(marcas)
print(marcas)

{'GUCCI', 'PRADA', 'PUMA', 'ADIDAS', 'LV'}

Set is an easy way to remove duplicate elements from a list.

# Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an unordered collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [174]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}

In [175]:
md = {'LV':'PRADA', 'GUCCI': 'ADIDAS'}

After defining a dictionary, we can access any value by indicating its key in brackets.

In [176]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
print(my_dic['GOOG'])

Alphabet

In [177]:
md = {'LV':'PRADA', 'GUCCI': 'ADIDAS',"BATMAN":"ROBIN"}
print(md['BATMAN'])

ROBIN

We can also change the value associated with a specified key:

In [178]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [179]:
md = {'LV':'PRADA', 'GUCCI': 'ADIDAS',"BATMAN":"ROBIN"}
md['BATMAN'] = 'Super Hero'
print(md['BATMAN'])

Super Hero

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

In [180]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [181]:
md = {'LV':'PRADA', 'GUCCI': 'ADIDAS',"BATMAN":"ROBIN"}
print(md.keys())

dict_keys(['LV', 'GUCCI', 'BATMAN'])

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [182]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [183]:
my_str = 'Jordan string'
print(my_str[7:])

string

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters.

In [184]:
print("Counting the number of e's in this sentence".count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

6
2
ell the e in this sentence now becomes e

In [185]:
print("cuenta las u's en esta frase ".count('u'))
print('Dime en donde aparecio la a por primera vez'.find('a'))
print('(@_____@)'.replace('@','O'))

2
14
(O_____O)

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [186]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)

hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [187]:
Time = '2021-10-14 08:20:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)

hour = time.split(':')[0]
print(hour)

2021-10-14 08:20:00
08

We can replace parts of a string by our variable. This is called string formatting.

In [188]:
my_time = 'Hour: {}, Minute: {}'.format(9, 43)
print(my_time)

Hour: 9, Minute: 43

In [189]:
my_time = 'Hour: {}, Minute: {}'.format(8, 20)
print(my_time)

Hour: 8, Minute: 20

Another way to format a string is to use the % symbol.

In [190]:
print ('pi is %f' % 3.14)
print('%s to %s' % ('Welcome', 'QuantConnect'))

pi is 3.140000
Welcome to QuantConnect

In [191]:
print ('euler is %f' % 2.74)
print('%s to %s' % ('Welcome', 'JordanConnect'))

euler is 2.740000
Welcome to JordanConnect


%s is a placeholder that takes in a string. Similarly %f takes a float and %d takes an integer.

# Summary

We have seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.



---

# **Logical Operations and Loops**

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [192]:
print (1 == 0)    # 1 equals 0
print (1 == 1)    # 1 equals 1
print (1 != 0)    # 1 is not equal to 0
print (5 >= 5)    # 5 is greater than or equal to 5
print (5 >= 6)    # 5 is greater than or equal to 6

False
True
True
True
False

In [193]:
print (-5 == 0)    
print ( 5 == 1)    
print (0 != 0)    
print (8 >= 5)    
print (-8 >= 6)

False
False
False
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

The statement "P and Q" is true if both P and Q are true, otherwise it is false.
The statement "P or Q" is false if both P and Q are false, otherwise it is true.
The statement "not P" is true if P is false, and vice versa.

In [194]:
print (2 > 1 and 3 > 2)
print (2 > 1 and 3 < 2)
print (2 > 1 or  3 < 2)
print (2 < 1 and 3 < 2)

True
False
True
False

In [195]:
print (5 > 1 and 2 > 2)
print (3 > 1 and 4 < 2)
print (2 > 5 or  7 < 2)
print (2 < 8 and 1 < 2)

False
False
False
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [196]:
print ((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print (3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [197]:
print ((5 > 2 or 1 < 4) and (1!=3 and 2>3) and not ( 10 < 2 or 8 < 3 and (1!=6 and 4>3)))
print (5 > 2 or 1 < 4 and (1!=3 and 2>3) and not ( 10 < 2 or 8 < 3 and (1!=6 and 4>3)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

if condition1:
    # if condition1 is true, execute the code here
    # and ignore the rest of this if statement
elif condition2:
    # if condition1 is false, and condition2 is true, execute the code here
    # and ignore the rest of this if statement
else:
    # if none of the above conditions is True, execute the code here

In [198]:
i = 0
if i == 0: print ('i == 0 is True')

i == 0 is True

In [199]:
i = 5
if i != 0: print ('i es dif a 0')

i es dif a 0

As we mentioned above, we can write some complex statements here:

In [200]:
p = 1 > 0
q = 2 > 3
if p and q:
    print ('p and q is true')
elif p and not q:
    print ('q is false')
elif q and not p:
    print ('p is false')
else:
    print ('None of p and q is true')

q is false

In [201]:
p = 5 > 5
q = 7 > 8
if p and q:
    print ('p and q is true')
elif p and not q:
    print ('q is false')
elif q and not p:
    print ('p is false')
else:
    print ('None of p and q is true')

None of p and q is true

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

# While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [202]:
i = 0
while i < 5:
    print (i)
    i += 1

0
1
2
3
4

In [203]:
i = 1
while i < 4%11:
    print (i)
    i += 1

1
2
3

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

# For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [204]:
for x in [1,2,3,4,5]: print (x)

1
2
3
4
5

In [205]:
for _ in ["pera","coco","papa"]: print (_)

pera
coco
papa

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [206]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [207]:
jordan = ['J','O','R','D','A','N']
j = ['J']
new_list = []
for letter in jordan:
    if letter not in j:
        new_list.append(letter)
print (new_list)

['O', 'R', 'D', 'A', 'N']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

# Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [208]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print (stock)
    if stock == 'FB': break

AAPL
GOOG
IBM
FB

In [209]:
jordan = ['J','O','R','D','A','N']
for _ in jordan:
    print (_)
    if _ == 'A': break

J
O
R
D
A

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [210]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    if stock == 'FB': continue
    print (stock)

AAPL
GOOG
IBM
F
V
G
GE

In [211]:
jordan = ['J','O','R','D','A','N']
for _ in jordan:
    if _ == 'A': continue
    print (_)

J
O
R
D
N

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [212]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print (squares)

[1, 4, 9, 16, 25]

In [213]:
squares = []
for i in [4,8,12,124,73]:
    squares.append(i**2)
print (squares)

[16, 64, 144, 15376, 5329]

Using list comprehension:

In [214]:
foo = [1,2,3,4,5]
squares = [x**2 for x in foo]
print (squares)

[1, 4, 9, 16, 25]

In [215]:
foo = [8,5,3]
squares = [x**2 for x in foo]
print (squares)

[64, 25, 9]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [216]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x not in selected]
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [217]:
stocks = ['A','B','C','D']
selected = ["A"]
new_list = [x for x in stocks if x not in selected]
print (new_list)

['B', 'C', 'D']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [218]:
print ([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB']
                                for y in ['F','V','G','GE'] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [219]:
print ([(x, y) for x in [0,5,1] for y in [0,5,4] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['a','b','c','d']
                                for y in ['A','B','C','D'] if x != y])

[(0, 5), (0, 4), (5, 0), (5, 4), (1, 0), (1, 5), (1, 4)]
['a vs A', 'a vs B', 'a vs C', 'a vs D', 'b vs A', 'b vs B', 'b vs C', 'b vs D', 'c vs A', 'c vs B', 'c vs C', 'c vs D', 'd vs A', 'd vs B', 'd vs C', 'd vs D']


List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.



---

# **Functions and Objective-Oriented Programming**

#Introduction
In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

#Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [220]:
def product(x,y):
    return x*y

print (product(2,3))
print (product(5,10))

6
50

In [221]:
def producto(x,y):
    return x*y

print (producto(5,3))
print (producto(-9,10))

15
-90

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [222]:
def say_hi():
    print ("Welcome to QuantConnect")

say_hi()

Welcome to QuantConnect

In [223]:
def say_hi():
    print ("HOla mundo")

say_hi()

HOla mundo

#Built-in Function
range() is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [224]:
print (list(range(10)))
print (list(range(1, 11)))
print (list(range(1, 11, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [225]:
print (list(range(8)))
print (list(range(1, 8)))
print (list(range(2, 8, 2)))

[0, 1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[2, 4, 6]

len() is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [226]:
tickers = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print ("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print (k + 1, tickers[k])

The number of tickers is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

In [227]:
tickers = ['a','b','c','d']
print ("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print (k + 1, tickers[k])

The number of tickers is 4
1 a
2 b
3 c
4 d

**Note:** If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map()** is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [228]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [229]:
tickers = ['a','b','c','d']
print(list(map(len,tickers)))

[1, 1, 1, 1]

The **lambda** operator is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [230]:
print(map(lambda x: x**2, range(10)))
list(map(lambda x: x**2, range(10)))

<map object at 0x7f05319ca990>

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [231]:
list(map(lambda x: x%5, range(10)))

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

**map() can be applied to more than one list**. The lists have to have the same length.

In [232]:
list(map(lambda x, y: x+y, [1,2,3,4,5], [5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [233]:
list(map(lambda x, y: x+y, ["a","b","c","d","e"], ["b","a","b","c","h"]))

['ab', 'ba', 'cb', 'dc', 'eh']

**sorted()** takes a list or set and returns a new sorted list:

In [234]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [235]:
sorted(["b","a","b","c","h"])

['a', 'b', 'b', 'c', 'h']

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [236]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69),
 ('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71)]

In [237]:
price_list = [(144.5, "a"), (555, "z"), (85,"l")]
sorted(price_list, key = lambda x: x[0])

[(85, 'l'), (144.5, 'a'), (555, 'z')]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [238]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('GOOGL', 911.71),
 ('FB', 150),
 ('AAPL', 144.09),
 ('WMT', 75.32),
 ('MSFT', 69)]

In [239]:
price_list = [(144.5, "a"), (555, "z"), (85,"l")]
sorted(price_list, key = lambda x: x[1], reverse=True)

[(555, 'z'), (85, 'l'), (144.5, 'a')]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [240]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOGL', 911.71)]

In [241]:
price_list = [(144.5, "a"), (555, "z"), (85,"l")]
price_list.sort(key = lambda x: x[1], reverse= True)
print(price_list)

[(555, 'z'), (85, 'l'), (144.5, 'a')]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

# Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an **instance** of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called **attributes**, and the functions which are associated with the object are called **methods**.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [242]:
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print (self.rate_return)

In [243]:
class cuadrado:
    def __init__(self, ancho, alto):
        self.ancho = ancho
        self.alto= alto
        self.area = float(ancho)*float(alto)

    def update(self, ancho, alto):
        self.ancho = ancho
        self.alto= alto
        self.area = float(ancho)*float(alto)

    def print_area(self):
        print (self.area)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [244]:
apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)

In [245]:
c1  = cuadrado(2,5)
c2 = cuadrado(5,5)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [246]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [247]:
c1.alto
c1.print_area()
c2.update(5,6)
c2.print_area()

10.0
30.0

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods inside a class, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [248]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [249]:
c1.nombre = "popeye"
c1.nombre

'popeye'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [250]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [251]:
dir(c1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'alto',
 'ancho',
 'area',
 'nombre',
 'print_area',
 'update']

#Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [252]:
class Child(Stock):
    def __init__(self, name):
        self.name = name

In [253]:
class cuadrito(cuadrado):
    def __init__(self, name):
        self.name = name

Then we create an object:

In [254]:
aa = Child('AA')
print (aa.name)
aa.update(100, 102)
print (aa.open)
print (aa.close)
print (aa.print_return())

AA
100
102
0.020000000000000018
None

In [255]:
cu = cuadrito('cuadrito nuevo')
print (cu.name)
cu.update(500,3)
print (cu.alto)
print (cu.ancho)
cu.print_area()

cuadrito nuevo
3
500
1500.0

As seen above, the new class Child has inherited the methods from Stock.
# Summary
In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

# **NumPy and Basic Pandas**

# **Introduction**
Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# **NumPy**
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [256]:
import numpy as np

# Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [257]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print (price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [258]:
price_jordan = [5,4,8.5,9.5,1.65954]
price_jordan = np.array(price_jordan)
print (price_jordan, type(price_jordan))

[5.      4.      8.5     9.5     1.65954] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [259]:
Ar = np.array([[1,3], [2,4]])
print (Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [260]:
jr = np.array([[5.6,8], [5,9], [5,8],[9,0]])
print (jr, type(jr))

[[5.6 8. ]
 [5.  9. ]
 [5.  8. ]
 [9.  0. ]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [261]:
print (Ar.shape)

(2, 2)

In [262]:
print (jr.shape)

(4, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [263]:
print (Ar[0])
print (Ar[1])

[1 3]
[2 4]

In [264]:
print (jr[0])
print (jr[1])
print (jr[2])
print (jr[3])

[5.6 8. ]
[5. 9.]
[5. 8.]
[9. 0.]

If we want to access the matrix by column instead:

In [265]:
print ('First column:', Ar[:,0])
print ('Second column:', Ar[:,1])

First column: [1 2]
Second column: [3 4]

In [266]:
print ('First column:', jr[:,0])
print ('Second column:', jr[:,1])

First column: [5.6 5.  5.  9. ]
Second column: [8. 9. 8. 0.]

# Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [267]:
np.log(price_array)

array([4.96793654, 4.98244156, 4.9675886 , 4.96995218, 4.96633504,
       4.96018375])

In [268]:
np.log(price_jordan)

array([1.60943791, 1.38629436, 2.14006616, 2.2512918 , 0.50654046])

Other functions return a single value:

In [269]:
print (np.mean(price_array))
print (np.std(price_array))
print (np.sum(price_array))
print (np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [270]:
print (np.mean(price_jordan))
print (np.std(price_jordan))
print (np.sum(price_jordan))
print (np.max(price_jordan))

5.731908
2.8975930152207368
28.65954
9.5

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. First we need to import Pandas:

In [271]:
import pandas as pd

# Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [272]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print (s)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [273]:
pricej = [5,4,8.5,9.5,1.65954]
s = pd.Series(pricej)
print (s)

0    5.00000
1    4.00000
2    8.50000
3    9.50000
4    1.65954
dtype: float64

We can customize the indices of a new Series:

In [274]:
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print (s)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [275]:
j = pd.Series(pricej, index = ['1a', '2b', '3c', '4d', '5e'])
print (j)

1a    5.00000
2b    4.00000
3c    8.50000
4d    9.50000
5e    1.65954
dtype: float64

Or we can change the indices of an existing Series:

In [276]:
s.index = [6,5,4,3,2,1]
print (s)

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [277]:
j.index = [8,7,6,5,4]
print (j)

8    5.00000
7    4.00000
6    8.50000
5    9.50000
4    1.65954
dtype: float64

Series is like a list since it can be sliced by index:

In [278]:
print (s[1:])
print (s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [279]:
print (j[2:])
print (j[:-1])

6    8.50000
5    9.50000
4    1.65954
dtype: float64
8    5.0
7    4.0
6    8.5
5    9.5
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [280]:
print (s[4])
s[4] = 0
print (s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [281]:
print (j[8])
j[8] = 6
print (j)

5.0
8    6.00000
7    4.00000
6    8.50000
5    9.50000
4    1.65954
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [282]:
s = pd.Series(price, name = 'Apple Prices')
print (s)
print (s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Prices, dtype: float64
Apple Prices

In [283]:
j = pd.Series(pricej, name = 'Jordan Prices')
print (j)
print (j.name)

0    5.00000
1    4.00000
2    8.50000
3    9.50000
4    1.65954
Name: Jordan Prices, dtype: float64
Jordan Prices

We can get the statistical summaries of a Series:

In [284]:
print (s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Prices, dtype: float64

In [285]:
print (j.describe())

count    5.000000
mean     5.731908
std      3.239607
min      1.659540
25%      4.000000
50%      5.000000
75%      8.500000
max      9.500000
Name: Jordan Prices, dtype: float64

# Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [286]:
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print (time_index)
s.index = time_index
print (s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64

In [287]:
time_indexj = pd.date_range('2021-10-16', periods = len(j), freq = 'M')
print (time_indexj)
j.index = time_indexj
print (j)

DatetimeIndex(['2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31',
               '2022-02-28'],
              dtype='datetime64[ns]', freq='M')
2021-10-31    5.00000
2021-11-30    4.00000
2021-12-31    8.50000
2022-01-31    9.50000
2022-02-28    1.65954
Freq: M, Name: Jordan Prices, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [288]:
s.index = [6,5,4,3,2,1]
print (s)
print (s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Prices, dtype: float64
142.62

In [289]:
j.index = [0,1,2,3,4]
print (j)
print (j[0])

0    5.00000
1    4.00000
2    8.50000
3    9.50000
4    1.65954
Name: Jordan Prices, dtype: float64
5.0

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [290]:
print (s.iloc[1])

145.83

In [291]:
print (j.iloc[4])

1.65954

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index.

In [292]:
s.index = time_index
print (s['2017-01-03'])

143.68

In [293]:
j.index = time_indexj
print (j['2021-12-31'])

8.5


We can even access to a range of dates:

In [294]:
print (s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Prices, dtype: float64

In [295]:
print (j['2016-10-31':'2021-12-31'])

2021-10-31    5.0
2021-11-30    4.0
2021-12-31    8.5
Freq: M, Name: Jordan Prices, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [296]:
print (s[s < np.mean(s)])
print (s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Prices, dtype: float64
2017-01-04    144.02
Freq: D, Name: Apple Prices, dtype: float64

In [297]:
print (j[j < np.mean(j)])
print (j[(j > np.mean(j)) & (j < np.mean(j) + 1.64*np.std(j))])

2021-10-31    5.00000
2021-11-30    4.00000
2022-02-28    1.65954
Name: Jordan Prices, dtype: float64
2021-12-31    8.5
2022-01-31    9.5
Freq: M, Name: Jordan Prices, dtype: float64

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.