<a href="https://colab.research.google.com/github/jescarraga/AlgorithmsUN2021II/blob/main/Lab1/jescarraga_QuanconnectTutortials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Types and Data Structures**

## Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

#Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [1]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [2]:
my_string1 = 'Tutorial'
my_string2 = "Algoritmos y QuantConnect"
print(my_string1 + ' ' + my_string2)

Tutorial Algoritmos y QuantConnect

An integer is a round number with no values after the decimal point.

In [3]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [4]:
my_int = 6
print(my_int)
print(type(my_int))

6
<class 'int'>

The built-in function int() can convert a string into an integer.

In [5]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [6]:
my_string = "621"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float.

In [7]:
my_float = 1.0
print(type(my_float))
my_int = 1
print(type(my_int))

<class 'float'>
<class 'int'>

In [8]:
my_float = 6.0
print(type(my_float))
my_int = 8
print(type(my_int))

<class 'float'>
<class 'int'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [9]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [10]:
my_string = "720"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [11]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [12]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

# Basic Math Operations
﻿
The basic math operators in python are demonstrated below:

In [13]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division", 10/2)
print("exponent", 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division 5.0
exponent 8

In [14]:
print("Suma ", 3+3)
print("Resta ", 10-5)
print("Multiplicacion ", 5*5)
print("Division", 6/3)
print("exponente", 2**4)

Suma  6
Resta  5
Multiplicacion  25
Division 2.0
exponente 16

# Data Collections
# List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [15]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [16]:
ls = ['algo', 'Ritmo', 6,5,4]
print(ls)

['algo', 'Ritmo', 6, 5, 4]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [17]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) - 1])

5
Quant
3

In [18]:
ls = ['algo', 'Ritmo', 6,5,4]
print(len(ls))
print(ls[1])
print(ls[len(ls) - 1])

5
Ritmo
4

You can also change the elements in the list by accessing an index and assigning a new value.

In [19]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [20]:
ls = ['algo', 'Ritmo', 6,5,4]
ls[2] = 'vamos'
print(ls)

['algo', 'Ritmo', 'vamos', 5, 4]

A list can also be sliced with a colon:

In [21]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [22]:
ls = ['algo', 'Ritmo', 6,5,4]
print(ls[2:4])

[6, 5]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [23]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:])

['Connect', 1, 2, 3]

In [24]:
ls = ['algo', 'Ritmo', 6,5,4]
print(ls[2:])

[6, 5, 4]

And all elements up to but excluding index 3:

In [25]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[:3])

['Quant', 'Connect', 1]

In [26]:
ls = ['algo', 'Ritmo', 6,5,4]
print(ls[:4])

['algo', 'Ritmo', 6, 5]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [27]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

my_list.remove('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

In [28]:
ls = ['algo', 'Ritmo', 6,5,4]
ls.append('Guacamaya')
print(ls)

ls.remove('Guacamaya')
print(ls)

['algo', 'Ritmo', 6, 5, 4, 'Guacamaya']
['algo', 'Ritmo', 6, 5, 4]

When there are repeated instances of "Hello", the first one is removed.

# Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [29]:
my_tuple = ('Welcome','to','QuantConnect')

In [30]:
mi_tupla = ('Bienvenido','a','QuantJordan')

Just like a list, a tuple can be sliced by using index.

In [31]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [32]:
mi_tupla = ('Bienvenido','a','QuantJordan')
print(mi_tupla[2:])

('QuantJordan',)

# Set
A set is an unordered collection with no duplicate elements. The built-in function set() can be used to create sets.

In [33]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'AAPL', 'FB', 'IBM', 'F', 'GOOG'}

In [34]:
marcas = ['ADIDAS','PUMA','GUCCI','ADIDAS','PUMA',"PRADA",'LV']
marcas = set(marcas)
print(marcas)

{'LV', 'GUCCI', 'ADIDAS', 'PUMA', 'PRADA'}

Set is an easy way to remove duplicate elements from a list.

# Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an unordered collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [35]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}

In [36]:
md = {'LV':'PRADA', 'GUCCI': 'ADIDAS'}

After defining a dictionary, we can access any value by indicating its key in brackets.

In [37]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
print(my_dic['GOOG'])

Alphabet

In [38]:
md = {'LV':'PRADA', 'GUCCI': 'ADIDAS',"BATMAN":"ROBIN"}
print(md['BATMAN'])

ROBIN

We can also change the value associated with a specified key:

In [39]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [40]:
md = {'LV':'PRADA', 'GUCCI': 'ADIDAS',"BATMAN":"ROBIN"}
md['BATMAN'] = 'Super Hero'
print(md['BATMAN'])

Super Hero

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

In [41]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [42]:
md = {'LV':'PRADA', 'GUCCI': 'ADIDAS',"BATMAN":"ROBIN"}
print(md.keys())

dict_keys(['LV', 'GUCCI', 'BATMAN'])

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [43]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [44]:
my_str = 'Jordan string'
print(my_str[7:])

string

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters.

In [45]:
print("Counting the number of e's in this sentence".count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

6
2
ell the e in this sentence now becomes e

In [46]:
print("cuenta las u's en esta frase ".count('u'))
print('Dime en donde aparecio la a por primera vez'.find('a'))
print('(@_____@)'.replace('@','O'))

2
14
(O_____O)

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [47]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)

hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [48]:
Time = '2021-10-14 08:20:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)

hour = time.split(':')[0]
print(hour)

2021-10-14 08:20:00
08

We can replace parts of a string by our variable. This is called string formatting.

In [49]:
my_time = 'Hour: {}, Minute: {}'.format(9, 43)
print(my_time)

Hour: 9, Minute: 43

In [50]:
my_time = 'Hour: {}, Minute: {}'.format(8, 20)
print(my_time)

Hour: 8, Minute: 20

Another way to format a string is to use the % symbol.

In [51]:
print ('pi is %f' % 3.14)
print('%s to %s' % ('Welcome', 'QuantConnect'))

pi is 3.140000
Welcome to QuantConnect

In [52]:
print ('euler is %f' % 2.74)
print('%s to %s' % ('Welcome', 'JordanConnect'))

euler is 2.740000
Welcome to JordanConnect


%s is a placeholder that takes in a string. Similarly %f takes a float and %d takes an integer.

# Summary

We have seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.



---

# **Logical Operations and Loops**

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [53]:
print (1 == 0)    # 1 equals 0
print (1 == 1)    # 1 equals 1
print (1 != 0)    # 1 is not equal to 0
print (5 >= 5)    # 5 is greater than or equal to 5
print (5 >= 6)    # 5 is greater than or equal to 6

False
True
True
True
False

In [54]:
print (-5 == 0)    
print ( 5 == 1)    
print (0 != 0)    
print (8 >= 5)    
print (-8 >= 6)

False
False
False
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

The statement "P and Q" is true if both P and Q are true, otherwise it is false.
The statement "P or Q" is false if both P and Q are false, otherwise it is true.
The statement "not P" is true if P is false, and vice versa.

In [55]:
print (2 > 1 and 3 > 2)
print (2 > 1 and 3 < 2)
print (2 > 1 or  3 < 2)
print (2 < 1 and 3 < 2)

True
False
True
False

In [56]:
print (5 > 1 and 2 > 2)
print (3 > 1 and 4 < 2)
print (2 > 5 or  7 < 2)
print (2 < 8 and 1 < 2)

False
False
False
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [57]:
print ((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print (3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [58]:
print ((5 > 2 or 1 < 4) and (1!=3 and 2>3) and not ( 10 < 2 or 8 < 3 and (1!=6 and 4>3)))
print (5 > 2 or 1 < 4 and (1!=3 and 2>3) and not ( 10 < 2 or 8 < 3 and (1!=6 and 4>3)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

if condition1:
    # if condition1 is true, execute the code here
    # and ignore the rest of this if statement
elif condition2:
    # if condition1 is false, and condition2 is true, execute the code here
    # and ignore the rest of this if statement
else:
    # if none of the above conditions is True, execute the code here

In [59]:
i = 0
if i == 0: print ('i == 0 is True')

i == 0 is True

In [60]:
i = 5
if i != 0: print ('i es dif a 0')

i es dif a 0

As we mentioned above, we can write some complex statements here:

In [61]:
p = 1 > 0
q = 2 > 3
if p and q:
    print ('p and q is true')
elif p and not q:
    print ('q is false')
elif q and not p:
    print ('p is false')
else:
    print ('None of p and q is true')

q is false

In [62]:
p = 5 > 5
q = 7 > 8
if p and q:
    print ('p and q is true')
elif p and not q:
    print ('q is false')
elif q and not p:
    print ('p is false')
else:
    print ('None of p and q is true')

None of p and q is true

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

# While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [63]:
i = 0
while i < 5:
    print (i)
    i += 1

0
1
2
3
4

In [64]:
i = 1
while i < 4%11:
    print (i)
    i += 1

1
2
3

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

# For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [65]:
for x in [1,2,3,4,5]: print (x)

1
2
3
4
5

In [66]:
for _ in ["pera","coco","papa"]: print (_)

pera
coco
papa

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [67]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [68]:
jordan = ['J','O','R','D','A','N']
j = ['J']
new_list = []
for letter in jordan:
    if letter not in j:
        new_list.append(letter)
print (new_list)

['O', 'R', 'D', 'A', 'N']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

# Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [69]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print (stock)
    if stock == 'FB': break

AAPL
GOOG
IBM
FB

In [70]:
jordan = ['J','O','R','D','A','N']
for _ in jordan:
    print (_)
    if _ == 'A': break

J
O
R
D
A

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [71]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    if stock == 'FB': continue
    print (stock)

AAPL
GOOG
IBM
F
V
G
GE

In [72]:
jordan = ['J','O','R','D','A','N']
for _ in jordan:
    if _ == 'A': continue
    print (_)

J
O
R
D
N

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [73]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print (squares)

[1, 4, 9, 16, 25]

In [74]:
squares = []
for i in [4,8,12,124,73]:
    squares.append(i**2)
print (squares)

[16, 64, 144, 15376, 5329]

Using list comprehension:

In [75]:
foo = [1,2,3,4,5]
squares = [x**2 for x in foo]
print (squares)

[1, 4, 9, 16, 25]

In [76]:
foo = [8,5,3]
squares = [x**2 for x in foo]
print (squares)

[64, 25, 9]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [77]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x not in selected]
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [78]:
stocks = ['A','B','C','D']
selected = ["A"]
new_list = [x for x in stocks if x not in selected]
print (new_list)

['B', 'C', 'D']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [79]:
print ([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB']
                                for y in ['F','V','G','GE'] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [80]:
print ([(x, y) for x in [0,5,1] for y in [0,5,4] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['a','b','c','d']
                                for y in ['A','B','C','D'] if x != y])

[(0, 5), (0, 4), (5, 0), (5, 4), (1, 0), (1, 5), (1, 4)]
['a vs A', 'a vs B', 'a vs C', 'a vs D', 'b vs A', 'b vs B', 'b vs C', 'b vs D', 'c vs A', 'c vs B', 'c vs C', 'c vs D', 'd vs A', 'd vs B', 'd vs C', 'd vs D']


List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.



---

# **Functions and Objective-Oriented Programming**

#Introduction
In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

#Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [81]:
def product(x,y):
    return x*y

print (product(2,3))
print (product(5,10))

6
50

In [82]:
def producto(x,y):
    return x*y

print (producto(5,3))
print (producto(-9,10))

15
-90

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [83]:
def say_hi():
    print ("Welcome to QuantConnect")

say_hi()

Welcome to QuantConnect

In [84]:
def say_hi():
    print ("HOla mundo")

say_hi()

HOla mundo

#Built-in Function
range() is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [85]:
print (list(range(10)))
print (list(range(1, 11)))
print (list(range(1, 11, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [86]:
print (list(range(8)))
print (list(range(1, 8)))
print (list(range(2, 8, 2)))

[0, 1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[2, 4, 6]

len() is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [87]:
tickers = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print ("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print (k + 1, tickers[k])

The number of tickers is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

In [88]:
tickers = ['a','b','c','d']
print ("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print (k + 1, tickers[k])

The number of tickers is 4
1 a
2 b
3 c
4 d

**Note:** If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map()** is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [89]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [90]:
tickers = ['a','b','c','d']
print(list(map(len,tickers)))

[1, 1, 1, 1]

The **lambda** operator is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [91]:
print(map(lambda x: x**2, range(10)))
list(map(lambda x: x**2, range(10)))

<map object at 0x7ffab6a8df10>

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [92]:
list(map(lambda x: x%5, range(10)))

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

**map() can be applied to more than one list**. The lists have to have the same length.

In [93]:
list(map(lambda x, y: x+y, [1,2,3,4,5], [5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [94]:
list(map(lambda x, y: x+y, ["a","b","c","d","e"], ["b","a","b","c","h"]))

['ab', 'ba', 'cb', 'dc', 'eh']

**sorted()** takes a list or set and returns a new sorted list:

In [95]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [96]:
sorted(["b","a","b","c","h"])

['a', 'b', 'b', 'c', 'h']

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [97]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69),
 ('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71)]

In [98]:
price_list = [(144.5, "a"), (555, "z"), (85,"l")]
sorted(price_list, key = lambda x: x[0])

[(85, 'l'), (144.5, 'a'), (555, 'z')]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [99]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('GOOGL', 911.71),
 ('FB', 150),
 ('AAPL', 144.09),
 ('WMT', 75.32),
 ('MSFT', 69)]

In [100]:
price_list = [(144.5, "a"), (555, "z"), (85,"l")]
sorted(price_list, key = lambda x: x[1], reverse=True)

[(555, 'z'), (85, 'l'), (144.5, 'a')]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [101]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOGL', 911.71)]

In [102]:
price_list = [(144.5, "a"), (555, "z"), (85,"l")]
price_list.sort(key = lambda x: x[1], reverse= True)
print(price_list)

[(555, 'z'), (85, 'l'), (144.5, 'a')]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

# Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an **instance** of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called **attributes**, and the functions which are associated with the object are called **methods**.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [103]:
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print (self.rate_return)

In [104]:
class cuadrado:
    def __init__(self, ancho, alto):
        self.ancho = ancho
        self.alto= alto
        self.area = float(ancho)*float(alto)

    def update(self, ancho, alto):
        self.ancho = ancho
        self.alto= alto
        self.area = float(ancho)*float(alto)

    def print_area(self):
        print (self.area)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [105]:
apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)

In [106]:
c1  = cuadrado(2,5)
c2 = cuadrado(5,5)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [107]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [108]:
c1.alto
c1.print_area()
c2.update(5,6)
c2.print_area()

10.0
30.0

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods inside a class, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [109]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [110]:
c1.nombre = "popeye"
c1.nombre

'popeye'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [111]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [112]:
dir(c1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'alto',
 'ancho',
 'area',
 'nombre',
 'print_area',
 'update']

#Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [113]:
class Child(Stock):
    def __init__(self, name):
        self.name = name

In [114]:
class cuadrito(cuadrado):
    def __init__(self, name):
        self.name = name

Then we create an object:

In [115]:
aa = Child('AA')
print (aa.name)
aa.update(100, 102)
print (aa.open)
print (aa.close)
print (aa.print_return())

AA
100
102
0.020000000000000018
None

In [116]:
cu = cuadrito('cuadrito nuevo')
print (cu.name)
cu.update(500,3)
print (cu.alto)
print (cu.ancho)
cu.print_area()

cuadrito nuevo
3
500
1500.0

As seen above, the new class Child has inherited the methods from Stock.
# Summary
In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

# **NumPy and Basic Pandas**

# **Introduction**
Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# **NumPy**
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [117]:
import numpy as np

# Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [118]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print (price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [119]:
price_jordan = [5,4,8.5,9.5,1.65954]
price_jordan = np.array(price_jordan)
print (price_jordan, type(price_jordan))

[5.      4.      8.5     9.5     1.65954] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [120]:
Ar = np.array([[1,3], [2,4]])
print (Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [121]:
jr = np.array([[5.6,8], [5,9], [5,8],[9,0]])
print (jr, type(jr))

[[5.6 8. ]
 [5.  9. ]
 [5.  8. ]
 [9.  0. ]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [122]:
print (Ar.shape)

(2, 2)

In [123]:
print (jr.shape)

(4, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [124]:
print (Ar[0])
print (Ar[1])

[1 3]
[2 4]

In [125]:
print (jr[0])
print (jr[1])
print (jr[2])
print (jr[3])

[5.6 8. ]
[5. 9.]
[5. 8.]
[9. 0.]

If we want to access the matrix by column instead:

In [126]:
print ('First column:', Ar[:,0])
print ('Second column:', Ar[:,1])

First column: [1 2]
Second column: [3 4]

In [127]:
print ('First column:', jr[:,0])
print ('Second column:', jr[:,1])

First column: [5.6 5.  5.  9. ]
Second column: [8. 9. 8. 0.]

# Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [128]:
np.log(price_array)

array([4.96793654, 4.98244156, 4.9675886 , 4.96995218, 4.96633504,
       4.96018375])

In [129]:
np.log(price_jordan)

array([1.60943791, 1.38629436, 2.14006616, 2.2512918 , 0.50654046])

Other functions return a single value:

In [130]:
print (np.mean(price_array))
print (np.std(price_array))
print (np.sum(price_array))
print (np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [131]:
print (np.mean(price_jordan))
print (np.std(price_jordan))
print (np.sum(price_jordan))
print (np.max(price_jordan))

5.731908
2.8975930152207368
28.65954
9.5

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. First we need to import Pandas:

In [132]:
import pandas as pd

# Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [133]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print (s)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [134]:
pricej = [5,4,8.5,9.5,1.65954]
s = pd.Series(pricej)
print (s)

0    5.00000
1    4.00000
2    8.50000
3    9.50000
4    1.65954
dtype: float64

We can customize the indices of a new Series:

In [135]:
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print (s)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [136]:
j = pd.Series(pricej, index = ['1a', '2b', '3c', '4d', '5e'])
print (j)

1a    5.00000
2b    4.00000
3c    8.50000
4d    9.50000
5e    1.65954
dtype: float64

Or we can change the indices of an existing Series:

In [137]:
s.index = [6,5,4,3,2,1]
print (s)

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [138]:
j.index = [8,7,6,5,4]
print (j)

8    5.00000
7    4.00000
6    8.50000
5    9.50000
4    1.65954
dtype: float64

Series is like a list since it can be sliced by index:

In [139]:
print (s[1:])
print (s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [140]:
print (j[2:])
print (j[:-1])

6    8.50000
5    9.50000
4    1.65954
dtype: float64
8    5.0
7    4.0
6    8.5
5    9.5
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [141]:
print (s[4])
s[4] = 0
print (s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [142]:
print (j[8])
j[8] = 6
print (j)

5.0
8    6.00000
7    4.00000
6    8.50000
5    9.50000
4    1.65954
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [143]:
s = pd.Series(price, name = 'Apple Prices')
print (s)
print (s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Prices, dtype: float64
Apple Prices

In [144]:
j = pd.Series(pricej, name = 'Jordan Prices')
print (j)
print (j.name)

0    5.00000
1    4.00000
2    8.50000
3    9.50000
4    1.65954
Name: Jordan Prices, dtype: float64
Jordan Prices

We can get the statistical summaries of a Series:

In [145]:
print (s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Prices, dtype: float64

In [146]:
print (j.describe())

count    5.000000
mean     5.731908
std      3.239607
min      1.659540
25%      4.000000
50%      5.000000
75%      8.500000
max      9.500000
Name: Jordan Prices, dtype: float64

# Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [147]:
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print (time_index)
s.index = time_index
print (s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64

In [148]:
time_indexj = pd.date_range('2021-10-16', periods = len(j), freq = 'M')
print (time_indexj)
j.index = time_indexj
print (j)

DatetimeIndex(['2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31',
               '2022-02-28'],
              dtype='datetime64[ns]', freq='M')
2021-10-31    5.00000
2021-11-30    4.00000
2021-12-31    8.50000
2022-01-31    9.50000
2022-02-28    1.65954
Freq: M, Name: Jordan Prices, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [149]:
s.index = [6,5,4,3,2,1]
print (s)
print (s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Prices, dtype: float64
142.62

In [150]:
j.index = [0,1,2,3,4]
print (j)
print (j[0])

0    5.00000
1    4.00000
2    8.50000
3    9.50000
4    1.65954
Name: Jordan Prices, dtype: float64
5.0

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [151]:
print (s.iloc[1])

145.83

In [152]:
print (j.iloc[4])

1.65954

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index.

In [153]:
s.index = time_index
print (s['2017-01-03'])

143.68

In [154]:
j.index = time_indexj
print (j['2021-12-31'])

8.5


We can even access to a range of dates:

In [155]:
print (s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Prices, dtype: float64

In [156]:
print (j['2016-10-31':'2021-12-31'])

2021-10-31    5.0
2021-11-30    4.0
2021-12-31    8.5
Freq: M, Name: Jordan Prices, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [157]:
print (s[s < np.mean(s)])
print (s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Prices, dtype: float64
2017-01-04    144.02
Freq: D, Name: Apple Prices, dtype: float64

In [158]:
print (j[j < np.mean(j)])
print (j[(j > np.mean(j)) & (j < np.mean(j) + 1.64*np.std(j))])

2021-10-31    5.00000
2021-11-30    4.00000
2022-02-28    1.65954
Name: Jordan Prices, dtype: float64
2021-12-31    8.5
2022-01-31    9.5
Freq: M, Name: Jordan Prices, dtype: float64

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [159]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 11.3 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=199e20aa464d32550fba4d610fb1607824b1db6cb3fa3322acb817783bdd44a5
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [160]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 148.69, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 40, 'targetMeanPrice': 168.89, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.293, 'beta3Year': None, 'enterpriseToEbitda': 22.821, '52WeekChange': 0.29239464, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58671004, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.33635402, 'priceToBook': 38.30242, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16513139929, 'beta': 1.222222, 'enterpriseValue': 2531665379328, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 7.080052, 'dateShortInterest': 1632960000, 'pegRatio': 1.34, 'ytdReturn': None, 'forwardPE': 26.177818, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 149.48, 'regularMarketOpen': 149.69, 'twoHundredDayAverage': 139.41185, 'trailingAnnualDividendYield': 0.005586032, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 150.18, 'navPrice': None, 'averageDailyVolume10Day': 68348542, 'regularMarketPreviousClose': 149.48, 'fiftyDayAverage': 145.9303, 'trailingAnnualDividendRate': 0.835, 'open': 149.69, 'toCurrency': None, 'averageVolume10days': 68348542, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 148.64, 'currency': 'USD', 'trailingPE': 29.109241, 'regularMarketVolume': 58883443, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2457875513344, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 75838454, 'dayLow': 148.64, 'ask': 148.47, 'askSize': 3200, 'volume': 58883443, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 148.45, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 2900, 'dayHigh': 150.18, 'regularMarketPrice': 148.69, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655163  24.291439  23.514536  ...  270597600        0.0             0
2016-01-05  24.379037  24.402090  23.609052  ...  223164000        0.0             0
2016-01-06  23.182567  23.599836  23.023499  ...  273829600        0.0             0
2016-01-07  22.749164  23.083439  22.230461  ...  324377600        0.0             0
2016-01-08  22.719197  22.848296  22.306540  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827756  42.004953  41.784656  ...   65397600        0.0             0
2017-12-26  40.898675  41.059108  40.630484  ...  132742000        0.0             0
2017-12-27  40.731054  40.893880  40.637667  ...   85992800        0.0             0
2017-12-28  40.946564  41.150101  40.822048  ...   65920800        0.0             0
2017-12-29  40.831633  40.848393  40.520342  ...  103999600        0.0             0

[503 rows x 7 columns]

In [161]:
sony = yf.Ticker("SONY")

# get stock info of Sony company
print(sony.info)

# get historical market data
sony_table = sony.history(start="2020-01-01",  end="2021-10-23")
sony_table

{'zip': '108-0075', 'sector': 'Technology', 'fullTimeEmployees': 109700, 'longBusinessSummary': 'Sony Group Corporation designs, develops, produces, and sells electronic equipment, instruments, and devices for the consumer, professional, and industrial markets worldwide. The company distributes software titles and add-on content through digital networks; network services related to game, video, and music content; and home and portable game consoles, packaged software, and peripheral devices. It also develops, produces, markets, and distributes recorded music; publishes music; and produces and distributes animation titles, game applications based on animation titles, and various services for music and visual products. In addition, the company produces, acquires, and distributes live-action and animated motion pictures for theatrical release, as well as scripted and animated series, unscripted reality or light entertainment, daytime serials, game shows, television movies, and miniseries and other television programs; operates a visual effects and animation unit; manages a studio facility; and operates television and digital networks, and post-production facilities. Further, it researches, develops, designs, produces, markets, distributes, sells, and services televisions, and video and sound products; interchangeable lens, compact digital, and consumer and professional video cameras; projectors and medical equipment; mobile phones, tablets, accessories, and applications; and metal oxide semiconductor image sensors, charge-coupled devices, large-scale integration systems, and other semiconductors. Additionally, it offers Internet broadband network services; creates and distributes content for PCs and mobile phones; and provides life and non-life insurance, banking, and other services, as well as batteries, recording media, and storage media products. The company was formerly known as Sony Corporation and changed its name to Sony Group Corporation in April 2021. Sony Group Corporation was incorporated in 1946 and is headquartered in Tokyo, Japan.', 'city': 'Tokyo', 'phone': '81 3 6748 2111', 'country': 'Japan', 'companyOfficers': [], 'website': 'http://www.sony.com', 'maxAge': 1, 'address1': '1-7-1 Konan', 'industry': 'Consumer Electronics', 'address2': 'Minato-ku', 'ebitdaMargins': 0.15405, 'profitMargins': 0.12805, 'grossMargins': 0.27312002, 'operatingCashflow': 1386119036928, 'revenueGrowth': 0.15, 'operatingMargins': 0.11104, 'ebitda': 1431618977792, 'targetLowPrice': 111.72, 'recommendationKey': 'buy', 'grossProfits': 2429826000000, 'freeCashflow': 2871034380288, 'targetMedianPrice': 141.8, 'currentPrice': 112.97, 'earningsGrowth': 0.09, 'currentRatio': 0.638, 'returnOnAssets': 0.02486, 'numberOfAnalystOpinions': 5, 'targetMeanPrice': 143.3, 'debtToEquity': 39.024, 'returnOnEquity': 0.20086999, 'targetHighPrice': 184, 'totalCash': 1162534060032, 'totalDebt': 2711807066112, 'totalRevenue': 9293254361088, 'totalCashPerShare': 938.134, 'financialCurrency': 'JPY', 'revenuePerShare': 7524.212, 'quickRatio': 0.481, 'recommendationMean': 1.6, 'exchange': 'NYQ', 'shortName': 'Sony Group Corporation', 'longName': 'Sony Group Corporation', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'SONY', 'messageBoardId': 'finmb_23021', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 0.187, 'beta3Year': None, 'enterpriseToEbitda': 1.212, '52WeekChange': 0.48254597, 'morningStarRiskRating': None, 'forwardEps': 6.58, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 1240259968, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 5570.695, 'sharesShort': 1838145, 'sharesPercentSharesOut': 0.0015, 'fundFamily': None, 'lastFiscalYearEnd': 1617148800, 'heldPercentInstitutions': 0.080240004, 'netIncomeToCommon': 1190021955584, 'trailingEps': 8.376, 'lastDividendValue': 0.28, 'SandP52WeekChange': 0.33635402, 'priceToBook': 0.020279337, 'heldPercentInsiders': 0.00062, 'nextFiscalYearEnd': 1680220800, 'yield': None, 'mostRecentQuarter': 1625011200, 'shortRatio': 3.16, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 1203720131, 'beta': 0.674169, 'enterpriseValue': 1735079231488, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 959212800, 'lastSplitFactor': '2:1', 'legalType': None, 'lastDividendDate': 1222300800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.094, 'priceToSalesTrailing12Months': 0.01507676, 'dateShortInterest': 1632960000, 'pegRatio': 1.65, 'ytdReturn': None, 'forwardPE': 17.168694, 'lastCapGain': None, 'shortPercentOfFloat': None, 'sharesShortPriorMonth': 1010320, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 112.27, 'regularMarketOpen': 112.31, 'twoHundredDayAverage': 103.648, 'trailingAnnualDividendYield': 0.48989046, 'payoutRatio': 0.0582, 'volume24Hr': None, 'regularMarketDayHigh': 113.04, 'navPrice': None, 'averageDailyVolume10Day': 548228, 'regularMarketPreviousClose': 112.27, 'fiftyDayAverage': 110.895294, 'trailingAnnualDividendRate': 55, 'open': 112.31, 'toCurrency': None, 'averageVolume10days': 548228, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.55, 'exDividendDate': 1616976000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 111.65, 'currency': 'USD', 'trailingPE': 13.487345, 'regularMarketVolume': 465586, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 140112166912, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 575817, 'dayLow': 111.65, 'ask': 117.85, 'askSize': 800, 'volume': 465586, 'fiftyTwoWeekHigh': 118.5, 'fromCurrency': None, 'fiveYearAvgDividendYield': 0.53, 'fiftyTwoWeekLow': 75.55, 'bid': 110.61, 'tradeable': False, 'dividendYield': 0.0047999998, 'bidSize': 1100, 'dayHigh': 113.04, 'regularMarketPrice': 112.97, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/sony.com'}

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2020-01-02   68.300003   69.059998  ...          0             0
2020-01-03   68.500000   68.650002  ...          0             0
2020-01-06   68.250000   69.199997  ...          0             0
2020-01-07   70.510002   70.580002  ...          0             0
2020-01-08   70.800003   71.120003  ...          0             0
...                ...         ...  ...        ...           ...
2021-10-18  110.730003  112.180000  ...          0             0
2021-10-19  112.190002  112.650002  ...          0             0
2021-10-20  112.690002  113.400002  ...          0             0
2021-10-21  111.190002  112.360001  ...          0             0
2021-10-22  112.309998  113.040001  ...          0             0

[457 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [162]:
aapl = aapl_table['Close']['2017']

In [163]:
print(aapl)

Date
2017-01-03    27.372360
2017-01-04    27.341722
2017-01-05    27.480770
2017-01-06    27.787130
2017-01-09    28.041647
                ...
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850780
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, Length: 251, dtype: float64

In [164]:
sony = sony_table['Close']['2020']
print(sony)

Date
2020-01-02     69.059998
2020-01-03     68.080002
2020-01-06     69.110001
2020-01-07     70.199997
2020-01-08     70.459999
                 ...
2020-12-24     96.839996
2020-12-28     97.949997
2020-12-29    100.430000
2020-12-30    100.779999
2020-12-31    101.099998
Name: Close, Length: 253, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [165]:
print(aapl['2017-3'])

Date
2017-03-01    33.086285
2017-03-02    32.889843
2017-03-03    33.083920
2017-03-06    32.979778
2017-03-07    33.022381
2017-03-08    32.899300
2017-03-09    32.823563
2017-03-10    32.932438
2017-03-13    32.946640
2017-03-14    32.896942
2017-03-15    33.244865
2017-03-16    33.299301
2017-03-17    33.133621
2017-03-20    33.481556
2017-03-21    33.098122
2017-03-22    33.472088
2017-03-23    33.353741
2017-03-24    33.287464
2017-03-27    33.344273
2017-03-28    34.035389
2017-03-29    34.111130
2017-03-30    34.066170
2017-03-31    34.002258
Name: Close, dtype: float64

In [166]:
print(sony['2020-7'])

Date
2020-07-01    70.389999
2020-07-02    70.230003
2020-07-06    70.529999
2020-07-07    69.160004
2020-07-08    69.790001
2020-07-09    71.529999
2020-07-10    73.940002
2020-07-13    74.360001
2020-07-14    74.519997
2020-07-15    76.830002
2020-07-16    76.800003
2020-07-17    76.080002
2020-07-20    78.180000
2020-07-21    77.309998
2020-07-22    77.349998
2020-07-23    76.419998
2020-07-24    76.459999
2020-07-27    78.529999
2020-07-28    77.620003
2020-07-29    78.349998
2020-07-30    78.519997
2020-07-31    77.959999
Name: Close, dtype: float64

In [167]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341730
2017-02-02    30.289881
2017-02-03    30.419498
2017-02-06    30.704647
2017-02-07    30.996876
                ...
2017-04-24    33.997528
2017-04-25    34.208168
2017-04-26    34.006989
2017-04-27    34.033028
2017-04-28    33.999886
Name: Close, Length: 61, dtype: float64

In [168]:
sony['2020-4':'2021-1']

Date
2020-04-01     56.849998
2020-04-02     58.910000
2020-04-03     57.480000
2020-04-06     60.869999
2020-04-07     60.660000
                 ...
2020-12-24     96.839996
2020-12-28     97.949997
2020-12-29    100.430000
2020-12-30    100.779999
2020-12-31    101.099998
Name: Close, Length: 191, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [169]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372360
2017-01-04    27.341722
2017-01-05    27.480770
2017-01-06    27.787130
2017-01-09    28.041647
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244404
2017-12-19    41.794231
2017-12-20    41.748734
2017-12-21    41.906776
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850780
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, dtype: float64

In [170]:
print(sony.head(5))
print(sony.tail(5))

Date
2020-01-02    69.059998
2020-01-03    68.080002
2020-01-06    69.110001
2020-01-07    70.199997
2020-01-08    70.459999
Name: Close, dtype: float64
Date
2020-12-24     96.839996
2020-12-28     97.949997
2020-12-29    100.430000
2020-12-30    100.779999
2020-12-31    101.099998
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [171]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606277
2017-03-31    33.282220
2017-04-30    33.819262
2017-05-31    36.125683
2017-06-30    35.133983
2017-07-31    35.245242
2017-08-31    37.897229
2017-09-30    37.604738
2017-10-31    37.654550
2017-11-30    41.233917
2017-12-31    41.160039
Freq: M, Name: Close, dtype: float64

In [172]:
by_months = sony.resample('M').mean()
print(by_months)

Date
2020-01-31    71.192380
2020-02-29    67.697368
2020-03-31    58.232273
2020-04-30    61.772857
2020-05-31    63.733000
2020-06-30    69.155455
2020-07-31    75.039091
2020-08-31    80.786191
2020-09-30    77.601428
2020-10-31    75.739545
2020-11-30    89.198001
2020-12-31    96.133636
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [173]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495496
2017-01-15    28.097736
2017-01-22    28.266115
2017-01-29    28.553979
2017-02-05    29.662544
Freq: W-SUN, Name: Close, dtype: float64

In [174]:
by_weeks = sony.resample('W').mean()
print(by_weeks.head())

Date
2020-01-05    68.570000
2020-01-12    70.331999
2020-01-19    72.162001
2020-01-26    72.244997
2020-02-02    71.289999
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [175]:
aapl.resample('M').max()

Date
2017-01-31    28.739208
2017-02-28    32.451965
2017-03-31    34.111130
2017-04-30    34.264973
2017-05-31    37.099136
2017-06-30    36.944645
2017-07-31    36.471706
2017-08-31    39.129723
2017-09-30    39.141651
2017-10-31    40.332245
2017-11-30    42.050144
2017-12-31    42.244404
Freq: M, Name: Close, dtype: float64

In [176]:
sony.resample('M').max()

Date
2020-01-31     72.620003
2020-02-29     73.000000
2020-03-31     64.790001
2020-04-30     64.580002
2020-05-31     65.970001
2020-06-30     71.709999
2020-07-31     78.529999
2020-08-31     83.449997
2020-09-30     79.500000
2020-10-31     83.660004
2020-11-30     94.070000
2020-12-31    101.099998
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [177]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398284
2017-01-06    27.787130
2017-01-09    28.110776
2017-01-12    28.078177
2017-01-15    28.279665
                ...
2017-12-17    42.019318
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886701
2017-12-29    40.522736
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495496
2017-01-22    28.172571
2017-02-05    29.108262
2017-02-19    31.516819
2017-03-05    32.595556
2017-03-19    33.017883
2017-04-02    33.625219
2017-04-16    33.849726
2017-04-30    33.791844
2017-05-14    35.697631
2017-05-28    36.496176
2017-06-11    36.515007
2017-06-25    34.529045
2017-07-09    34.265134
2017-07-23    35.278869
2017-08-06    36.272778
2017-08-20    37.904120
2017-09-03    38.458792
2017-09-17    38.282708
2017-10-01    36.840874
2017-10-15    37.071596
2017-10-29    37.757318
2017-11-12    41.032240
2017-11-26    41.204378
2017-12-10    40.867067
2017-12-24    41.620867
2018-01-07    40.795710
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524055
2017-05-31    35.056854
2017-07-31    35.186963
2017-09-30    37.761187
2017-11-30    39.402613
2018-01-31    41.160039
Freq: 2M, Name: Close, dtype: float64

In [178]:
three_days = sony.resample('3D').mean()
two_weeks = sony.resample('2W').mean()
two_months = sony.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398284
2017-01-06    27.787130
2017-01-09    28.110776
2017-01-12    28.078177
2017-01-15    28.279665
                ...
2017-12-17    42.019318
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886701
2017-12-29    40.522736
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495496
2017-01-22    28.172571
2017-02-05    29.108262
2017-02-19    31.516819
2017-03-05    32.595556
2017-03-19    33.017883
2017-04-02    33.625219
2017-04-16    33.849726
2017-04-30    33.791844
2017-05-14    35.697631
2017-05-28    36.496176
2017-06-11    36.515007
2017-06-25    34.529045
2017-07-09    34.265134
2017-07-23    35.278869
2017-08-06    36.272778
2017-08-20    37.904120
2017-09-03    38.458792
2017-09-17    38.282708
2017-10-01    36.840874
2017-10-15    37.071596
2017-10-29    37.757318
2017-11-12    41.032240
2017-11-26    41.204378
2017-12-10    40.867067
2017-12-24    41.620867
2018-01-07    40.795710
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524055
2017-05-31    35.056854
2017-07-31    35.186963
2017-09-30    37.761187
2017-11-30    39.402613
2018-01-31    41.160039
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [179]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072530
2017-01-22    0.025555
2017-01-29    0.245285
2017-02-05    0.943262
2017-02-12    0.252001
2017-02-19    0.231392
2017-02-26    0.059345
2017-03-05    0.340091
2017-03-12    0.076286
2017-03-19    0.177833
2017-03-26    0.157265
2017-04-02    0.319807
2017-04-09    0.128686
2017-04-16    0.212475
2017-04-23    0.174669
2017-04-30    0.090022
2017-05-07    0.235642
2017-05-14    0.352981
2017-05-21    0.536092
2017-05-28    0.060391
2017-06-04    0.281220
2017-06-11    0.620032
2017-06-18    0.382564
2017-06-25    0.128893
2017-07-02    0.264109
2017-07-09    0.158892
2017-07-16    0.404283
2017-07-23    0.124992
2017-07-30    0.384442
2017-08-06    0.924391
2017-08-13    0.467469
2017-08-20    0.435251
2017-08-27    0.275769
2017-09-03    0.251723
2017-09-10    0.381641
2017-09-17    0.294141
2017-09-24    0.735195
2017-10-01    0.354843
2017-10-08    0.204859
2017-10-15    0.118733
2017-10-22    0.516998
2017-10-29    0.680456
2017-11-05    0.560684
2017-11-12    0.190972
2017-11-19    0.436198
2017-11-26    0.563047
2017-12-03    0.427442
2017-12-10    0.073130
2017-12-17    0.205266
2017-12-24    0.194125
2017-12-31    0.190390
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787130
2017-01-15    28.220755
2017-01-22    28.279665
2017-01-29    28.739208
2017-02-05    30.419498
2017-02-12    31.341911
2017-02-19    32.122982
2017-02-26    32.451965
2017-03-05    33.086285
2017-03-12    33.022381
2017-03-19    33.299301
2017-03-26    33.481556
2017-04-02    34.111130
2017-04-09    34.264973
2017-04-16    33.886280
2017-04-23    33.713501
2017-04-30    34.208168
2017-05-07    35.256695
2017-05-14    37.099136
2017-05-21    37.004059
2017-05-28    36.597660
2017-06-04    36.944645
2017-06-11    36.925629
2017-06-18    34.838955
2017-06-25    34.779537
2017-07-02    34.658333
2017-07-09    34.266190
2017-07-16    35.421227
2017-07-23    35.891804
2017-07-30    36.471706
2017-08-06    37.346294
2017-08-13    38.277939
2017-08-20    38.557091
2017-08-27    38.170570
2017-09-03    39.141651
2017-09-10    38.671616
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798637
2017-10-08    37.075417
2017-10-15    37.457169
2017-10-22    38.287479
2017-10-29    38.903057
2017-11-05    41.157791
2017-11-12    42.050144
2017-11-19    41.657745
2017-11-26    41.897198
2017-12-03    41.686474
2017-12-10    40.659222
2017-12-17    41.657745
2017-12-24    42.244404
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341722
2017-01-15    28.041647
2017-01-22    28.227819
2017-01-29    28.272598
2017-02-05    28.597813
2017-02-12    30.704647
2017-02-19    31.547832
2017-02-26    32.314686
2017-03-05    32.409363
2017-03-12    32.823563
2017-03-19    32.896942
2017-03-26    33.098122
2017-04-02    33.344273
2017-04-09    33.926521
2017-04-16    33.384510
2017-04-23    33.296940
2017-04-30    33.997528
2017-05-07    34.681541
2017-05-14    36.215271
2017-05-21    35.708801
2017-05-28    36.443180
2017-06-04    36.305336
2017-06-11    35.406975
2017-06-18    33.812256
2017-06-25    34.463448
2017-07-02    34.147354
2017-07-09    33.921574
2017-07-16    34.475327
2017-07-23    35.544807
2017-07-30    35.530560
2017-08-06    35.347557
2017-08-13    37.058716
2017-08-20    37.578850
2017-08-27    37.509655
2017-09-03    38.526077
2017-09-10    37.848461
2017-09-17    37.764954
2017-09-24    36.240326
2017-10-01    35.920612
2017-10-08    36.619686
2017-10-15    37.182785
2017-10-22    37.216187
2017-10-29    37.261513
2017-11-05    39.778706
2017-11-12    41.575336
2017-11-19    40.486816
2017-11-26    40.702320
2017-12-03    40.582600
2017-12-10    40.470051
2017-12-17    41.114182
2017-12-24    41.748734
2017-12-31    40.522736
Freq: W-SUN, Name: Close, dtype: float64

In [180]:
stds = sony.resample('W').std()
maxs = sony.resample('W').max()
mins = sony.resample('W').min()


print(stds)
print(maxs)
print(mins)

Date
2020-01-05    0.692962
2020-01-12    0.757146
2020-01-19    0.498520
2020-01-26    0.307517
2020-02-02    0.715541
2020-02-09    1.179165
2020-02-16    0.747307
2020-02-23    0.475279
2020-03-01    1.335541
2020-03-08    0.718834
2020-03-15    2.919028
2020-03-22    1.603646
2020-03-29    2.904857
2020-04-05    1.339840
2020-04-12    0.665558
2020-04-19    1.579124
2020-04-26    0.635334
2020-05-03    0.809896
2020-05-10    1.312831
2020-05-17    1.342114
2020-05-24    0.494702
2020-05-31    1.253964
2020-06-07    0.693744
2020-06-14    1.148338
2020-06-21    1.039169
2020-06-28    0.830379
2020-07-05    0.819569
2020-07-12    1.870468
2020-07-19    1.205995
2020-07-26    0.730637
2020-08-02    0.396142
2020-08-09    1.283325
2020-08-16    1.594452
2020-08-23    2.087359
2020-08-30    0.750287
2020-09-06    0.994223
2020-09-13    0.636625
2020-09-20    0.938387
2020-09-27    0.616577
2020-10-04    1.398703
2020-10-11    0.704570
2020-10-18    0.903705
2020-10-25    1.050538
2020-11-01    3.444108
2020-11-08    2.134735
2020-11-15    1.478857
2020-11-22    0.887198
2020-11-29    2.009882
2020-12-06    0.833864
2020-12-13    0.562698
2020-12-20    2.178190
2020-12-27    1.112417
2021-01-03    1.436304
Freq: W-SUN, Name: Close, dtype: float64
Date
2020-01-05     69.059998
2020-01-12     71.029999
2020-01-19     72.620003
2020-01-26     72.589996
2020-02-02     72.019997
2020-02-09     73.000000
2020-02-16     70.769997
2020-02-23     67.070000
2020-03-01     63.939999
2020-03-08     64.790001
2020-03-15     60.330002
2020-03-22     55.400002
2020-03-29     60.500000
2020-04-05     60.169998
2020-04-12     62.110001
2020-04-19     64.440002
2020-04-26     63.549999
2020-05-03     64.580002
2020-05-10     65.510002
2020-05-17     65.970001
2020-05-24     64.070000
2020-05-31     64.760002
2020-06-07     67.309998
2020-06-14     70.510002
2020-06-21     71.580002
2020-06-28     71.709999
2020-07-05     70.389999
2020-07-12     73.940002
2020-07-19     76.830002
2020-07-26     78.180000
2020-08-02     78.529999
2020-08-09     83.370003
2020-08-16     82.930000
2020-08-23     83.449997
2020-08-30     81.120003
2020-09-06     79.500000
2020-09-13     77.480003
2020-09-20     78.959999
2020-09-27     78.699997
2020-10-04     77.480003
2020-10-11     75.070000
2020-10-18     74.690002
2020-10-25     75.570000
2020-11-01     83.660004
2020-11-08     90.389999
2020-11-15     89.720001
2020-11-22     90.449997
2020-11-29     94.070000
2020-12-06     94.680000
2020-12-13     94.680000
2020-12-20     98.709999
2020-12-27     99.400002
2021-01-03    101.099998
Freq: W-SUN, Name: Close, dtype: float64
Date
2020-01-05    68.080002
2020-01-12    69.110001
2020-01-19    71.599998
2020-01-26    71.879997
2020-02-02    70.180000
2020-02-09    70.089996
2020-02-16    68.830002
2020-02-23    65.940002
2020-03-01    60.889999
2020-03-08    63.119999
2020-03-15    52.570000
2020-03-22    51.680000
2020-03-29    52.900002
2020-04-05    56.849998
2020-04-12    60.660000
2020-04-19    60.090000
2020-04-26    62.049999
2020-05-03    62.730000
2020-05-10    61.939999
2020-05-17    62.779999
2020-05-24    62.740002
2020-05-31    62.180000
2020-06-07    65.489998
2020-06-14    67.370003
2020-06-21    69.349998
2020-06-28    69.680000
2020-07-05    68.720001
2020-07-12    69.160004
2020-07-19    74.360001
2020-07-26    76.419998
2020-08-02    77.620003
2020-08-09    80.029999
2020-08-16    79.330002
2020-08-23    78.750000
2020-08-30    79.370003
2020-09-06    77.379997
2020-09-13    76.010002
2020-09-20    76.459999
2020-09-27    77.260002
2020-10-04    74.000000
2020-10-11    73.370003
2020-10-18    72.669998
2020-10-25    72.930000
2020-11-01    76.199997
2020-11-08    85.500000
2020-11-15    85.910004
2020-11-22    88.250000
2020-11-29    89.790001
2020-12-06    92.620003
2020-12-13    93.360001
2020-12-20    93.370003
2020-12-27    96.839996
2021-01-03    97.949997
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [181]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597813
2017-02-28    32.423569
2017-03-31    34.002258
2017-04-30    33.999886
2017-05-31    36.305336
2017-06-30    34.228168
2017-07-31    35.347557
2017-08-31    39.129723
2017-09-30    36.772400
2017-10-31    40.332245
2017-11-30    41.150105
2017-12-31    40.522736
Freq: M, Name: Close, dtype: float64

In [182]:
last_days = sony.resample('M').agg(lambda x: x[-1])
print(last_days)

Date
2020-01-31     70.180000
2020-02-29     62.200001
2020-03-31     59.180000
2020-04-30     64.250000
2020-05-31     64.760002
2020-06-30     69.129997
2020-07-31     77.959999
2020-08-31     78.639999
2020-09-30     76.750000
2020-10-31     83.660004
2020-11-30     93.290001
2020-12-31    101.099998
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [183]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [184]:
monthly_returns = sony.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_returns)

Date
2020-01-31    0.016218
2020-02-29   -0.117480
2020-03-31   -0.077619
2020-04-30    0.130167
2020-05-31    0.032361
2020-06-30    0.055581
2020-07-31    0.107544
2020-08-31   -0.032361
2020-09-30   -0.034591
2020-10-31    0.094310
2020-11-30    0.091111
2020-12-31    0.067807
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [185]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.02686333935712129
0.052258483522770405
0.09901817765273635

In [186]:
print(monthly_returns.mean())
print(monthly_returns.std())
print(monthly_returns.max())

0.02775400383642616
0.0783515931069031
0.13016713675458558

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [187]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825756
2017-03-31    1.578690
2017-04-30   -0.002373
2017-05-31    2.305450
2017-06-30   -2.077168
2017-07-31    1.119389
2017-08-31    3.782166
2017-09-30   -2.357323
2017-10-31    3.559845
2017-11-30    0.817860
2017-12-31   -0.627369
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [188]:
print(last_days.diff())
print(last_days.pct_change())

Date
2020-01-31         NaN
2020-02-29   -7.980000
2020-03-31   -3.020000
2020-04-30    5.070000
2020-05-31    0.510002
2020-06-30    4.369995
2020-07-31    8.830002
2020-08-31    0.680000
2020-09-30   -1.889999
2020-10-31    6.910004
2020-11-30    9.629997
2020-12-31    7.809998
Freq: M, Name: Close, dtype: float64
Date
2020-01-31         NaN
2020-02-29   -0.113708
2020-03-31   -0.048553
2020-04-30    0.085671
2020-05-31    0.007938
2020-06-30    0.067480
2020-07-31    0.127730
2020-08-31    0.008722
2020-09-30   -0.024034
2020-10-31    0.090033
2020-11-30    0.115109
2020-12-31    0.083717
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [189]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [190]:
daily_returns = last_day.pct_change()
print(daily_returns.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [191]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [192]:
daily_returns = last_day.pct_change()
print(daily_returns.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [193]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [194]:
daily_returns = last_day.pct_change()
daily_returns.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [195]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [196]:
dict = {'SONY': [143.5, 144.09, 142.73, 144.18, 143.77],"LG":[898.7, 911.71, 906.69, 918.59, 926.99],
        'MAC':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_indexj = pd.date_range('2021-01-06',periods = 5, freq = 'D')
dfj = pd.DataFrame(dict, index = data_index)
print(dfj)

              SONY      LG     MAC
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [197]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850780
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [198]:
dfj = sony_table
print(dfj.Close.tail(5))
print(dfj['Volume'].tail(5))

Date
2021-10-18    112.150002
2021-10-19    112.489998
2021-10-20    112.459999
2021-10-21    112.269997
2021-10-22    112.970001
Name: Close, dtype: float64
Date
2021-10-18    659100
2021-10-19    551800
2021-10-20    369100
2021-10-21    666300
2021-10-22    465600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [199]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852380  22.440243  21.750945  ...  257666000        0.0             0
2016-02-29  22.450751  22.768298  22.402077  ...  140865200        0.0             0
2016-03-31  25.431520  25.473242  25.236819  ...  103553600        0.0             0
2016-04-30  21.785533  21.954737  21.442491  ...  274126000        0.0             0
2016-05-31  23.226407  23.412965  23.044514  ...  169228800        0.0             0
2016-06-30  22.023114  22.333264  21.990466  ...  143345600        0.0             0
2016-07-31  24.296782  24.380733  24.177851  ...  110934800        0.0             0
2016-08-31  24.773061  24.986419  24.768371  ...  118649600        0.0             0
2016-09-30  26.367386  26.580745  26.212643  ...  145516400        0.0             0
2016-10-31  26.646394  26.782382  26.540886  ...  105677600        0.0             0
2016-11-30  26.300090  26.441488  25.986656  ...  144649200        0.0             0
2016-12-31  27.490195  27.619809  27.202685  ...  122345200        0.0             0

[12 rows x 7 columns]

In [200]:
sony_2020 = dfj['2020']
sony_month = sony_2020.resample('M').agg(lambda x: x[-1])
print(sony_month)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2020-01-31   70.989998   70.989998  ...          0             0
2020-02-29   59.490002   62.459999  ...          0             0
2020-03-31   59.270000   60.500000  ...          0             0
2020-04-30   64.160004   64.440002  ...          0             0
2020-05-31   64.199997   64.760002  ...          0             0
2020-06-30   68.629997   69.220001  ...          0             0
2020-07-31   76.980003   77.970001  ...          0             0
2020-08-31   78.650002   78.980003  ...          0             0
2020-09-30   76.750000   77.440002  ...          0             0
2020-10-31   83.250000   84.050003  ...          0             0
2020-11-30   93.650002   94.000000  ...          0             0
2020-12-31  100.930000  101.400002  ...          0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [201]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243
2016-02-29  22.450751  22.768298  22.402077  22.411348
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785533  21.954737  21.442491  21.727587
2016-05-31  23.226407  23.412965  23.044514  23.287039
2016-06-30  22.023114  22.333264  21.990466  22.293621
2016-07-31  24.296782  24.380733  24.177851  24.301445
2016-08-31  24.773061  24.986419  24.768371  24.876223
2016-09-30  26.367386  26.580745  26.212643  26.505718
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490195  27.619809  27.202685  27.294594

In [202]:
sony_bar = sony_month[['Open', 'High', 'Low', 'Close']]
print(sony_bar)

                  Open        High         Low       Close
Date
2020-01-31   70.989998   70.989998   69.910004   70.180000
2020-02-29   59.490002   62.459999   59.349998   62.200001
2020-03-31   59.270000   60.500000   58.610001   59.180000
2020-04-30   64.160004   64.440002   63.400002   64.250000
2020-05-31   64.199997   64.760002   63.650002   64.760002
2020-06-30   68.629997   69.220001   68.459999   69.129997
2020-07-31   76.980003   77.970001   76.910004   77.959999
2020-08-31   78.650002   78.980003   78.440002   78.639999
2020-09-30   76.750000   77.440002   76.279999   76.750000
2020-10-31   83.250000   84.050003   82.580002   83.660004
2020-11-30   93.650002   94.000000   92.620003   93.290001
2020-12-31  100.930000  101.400002  100.610001  101.099998

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [203]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785533  21.954737  21.442491  21.727587
2016-05-31  23.226407  23.412965  23.044514  23.287039
2016-06-30  22.023114  22.333264  21.990466  22.293621

In [204]:
print(sony_month.loc['2020-04':'2020-08',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2020-04-30  64.160004  64.440002  63.400002  64.250000
2020-05-31  64.199997  64.760002  63.650002  64.760002
2020-06-30  68.629997  69.220001  68.459999  69.129997
2020-07-31  76.980003  77.970001  76.910004  77.959999
2020-08-31  78.650002  78.980003  78.440002  78.639999

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [205]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-08-31  24.773061  24.986419  24.768371  24.876223
2016-09-30  26.367386  26.580745  26.212643  26.505718
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490195  27.619809  27.202685  27.294594

In [206]:
abovej = sony_bar[sony_bar.Close > np.mean(sony_bar.Close)]
print(abovej)

                  Open        High         Low       Close
Date
2020-07-31   76.980003   77.970001   76.910004   77.959999
2020-08-31   78.650002   78.980003   78.440002   78.639999
2020-09-30   76.750000   77.440002   76.279999   76.750000
2020-10-31   83.250000   84.050003   82.580002   83.660004
2020-11-30   93.650002   94.000000   92.620003   93.290001
2020-12-31  100.930000  101.400002  100.610001  101.099998

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [207]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243          NaN
2016-02-29  22.450751  22.768298  22.402077  22.411348    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [208]:
sony_bar['rate_return'] = sony_bar.Close.pct_change()
print(sony_bar)

                  Open        High         Low       Close  rate_return
Date
2020-01-31   70.989998   70.989998   69.910004   70.180000          NaN
2020-02-29   59.490002   62.459999   59.349998   62.200001    -0.113708
2020-03-31   59.270000   60.500000   58.610001   59.180000    -0.048553
2020-04-30   64.160004   64.440002   63.400002   64.250000     0.085671
2020-05-31   64.199997   64.760002   63.650002   64.760002     0.007938
2020-06-30   68.629997   69.220001   68.459999   69.129997     0.067480
2020-07-31   76.980003   77.970001   76.910004   77.959999     0.127730
2020-08-31   78.650002   78.980003   78.440002   78.639999     0.008722
2020-09-30   76.750000   77.440002   76.279999   76.750000    -0.024034
2020-10-31   83.250000   84.050003   82.580002   83.660004     0.090033
2020-11-30   93.650002   94.000000   92.620003   93.290001     0.115109
2020-12-31  100.930000  101.400002  100.610001  101.099998     0.083717

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [209]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [210]:
missingj = sony_bar.isnull()
print(missingj)
print('---------------------------------------------')
print(missingj.describe())

             Open   High    Low  Close  rate_return
Date
2020-01-31  False  False  False  False         True
2020-02-29  False  False  False  False        False
2020-03-31  False  False  False  False        False
2020-04-30  False  False  False  False        False
2020-05-31  False  False  False  False        False
2020-06-30  False  False  False  False        False
2020-07-31  False  False  False  False        False
2020-08-31  False  False  False  False        False
2020-09-30  False  False  False  False        False
2020-10-31  False  False  False  False        False
2020-11-30  False  False  False  False        False
2020-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [211]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [212]:
print(missingj[missingj.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2020-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [213]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450751  22.768298  22.402077  22.411348    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243     0.000000
2016-02-29  22.450751  22.768298  22.402077  22.411348    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955

In [214]:
dropj = sony_bar.dropna()
print(dropj)
print('\n--------------------------------------------------\n')
fillj = sony_bar.fillna(0)
print(fillj)

                  Open        High         Low       Close  rate_return
Date
2020-02-29   59.490002   62.459999   59.349998   62.200001    -0.113708
2020-03-31   59.270000   60.500000   58.610001   59.180000    -0.048553
2020-04-30   64.160004   64.440002   63.400002   64.250000     0.085671
2020-05-31   64.199997   64.760002   63.650002   64.760002     0.007938
2020-06-30   68.629997   69.220001   68.459999   69.129997     0.067480
2020-07-31   76.980003   77.970001   76.910004   77.959999     0.127730
2020-08-31   78.650002   78.980003   78.440002   78.639999     0.008722
2020-09-30   76.750000   77.440002   76.279999   76.750000    -0.024034
2020-10-31   83.250000   84.050003   82.580002   83.660004     0.090033
2020-11-30   93.650002   94.000000   92.620003   93.290001     0.115109
2020-12-31  100.930000  101.400002  100.610001  101.099998     0.083717

--------------------------------------------------

                  Open        High         Low       Close  rate_return
Date
2020-01-31   70.989998   70.989998   69.910004   70.180000     0.000000
2020-02-29   59.490002   62.459999   59.349998   62.200001    -0.113708
2020-03-31   59.270000   60.500000   58.610001   59.180000    -0.048553
2020-04-30   64.160004   64.440002   63.400002   64.250000     0.085671
2020-05-31   64.199997   64.760002   63.650002   64.760002     0.007938
2020-06-30   68.629997   69.220001   68.459999   69.129997     0.067480
2020-07-31   76.980003   77.970001   76.910004   77.959999     0.127730
2020-08-31   78.650002   78.980003   78.440002   78.639999     0.008722
2020-09-30   76.750000   77.440002   76.279999   76.750000    -0.024034
2020-10-31   83.250000   84.050003   82.580002   83.660004     0.090033
2020-11-30   93.650002   94.000000   92.620003   93.290001     0.115109
2020-12-31  100.930000  101.400002  100.610001  101.099998     0.083717

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [215]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [216]:
s1j = pd.Series([100.5, 200.09, 300.73, 400.18, 500.77], name = 'BAMTAN')
s2j = pd.Series([800.7, 900.71, 505.69, 700.59, 200.99], name = 'SUPERMAN')
data_framej = pd.concat([s1j,s2j], axis = 1)
print(data_framej)

   BAMTAN  SUPERMAN
0  100.50    800.70
1  200.09    900.71
2  300.73    505.69
3  400.18    700.59
4  500.77    200.99

The "axis = 1" parameter will join two DataFrames by columns:

In [217]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109567
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277360
2016-10-31    3.281685
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243          NaN   3.110856
2016-02-29  22.450751  22.768298  22.402077  22.411348    -0.001288   3.109567
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211   3.229314
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921   3.078583
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773   3.147897
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660   3.104301
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063   3.190536
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652   3.213912
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504   3.277360
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334   3.281685
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601   3.259848
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955   3.306689

In [218]:
log_pricej = np.log(sony_bar.Close)
log_pricej.name = 'log_price'
print(log_pricej)
print('\n---------------------- separate line--------------------\n')
concatj = pd.concat([sony_bar, log_pricej], axis = 1)
print(concatj)

Date
2020-01-31    4.251063
2020-02-29    4.130355
2020-03-31    4.080584
2020-04-30    4.162782
2020-05-31    4.170688
2020-06-30    4.235989
2020-07-31    4.356196
2020-08-31    4.364880
2020-09-30    4.340553
2020-10-31    4.426761
2020-11-30    4.535713
2020-12-31    4.616110
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                  Open        High  ...  rate_return  log_price
Date                                ...
2020-01-31   70.989998   70.989998  ...          NaN   4.251063
2020-02-29   59.490002   62.459999  ...    -0.113708   4.130355
2020-03-31   59.270000   60.500000  ...    -0.048553   4.080584
2020-04-30   64.160004   64.440002  ...     0.085671   4.162782
2020-05-31   64.199997   64.760002  ...     0.007938   4.170688
2020-06-30   68.629997   69.220001  ...     0.067480   4.235989
2020-07-31   76.980003   77.970001  ...     0.127730   4.356196
2020-08-31   78.650002   78.980003  ...     0.008722   4.364880
2020-09-30   76.750000   77.440002  ...    -0.024034   4.340553
2020-10-31   83.250000   84.050003  ...     0.090033   4.426761
2020-11-30   93.650002   94.000000  ...     0.115109   4.535713
2020-12-31  100.930000  101.400002  ...     0.083717   4.616110

[12 rows x 6 columns]

We can also join two DataFrames by rows. Consider these two DataFrames:

In [219]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490195  27.619809  27.202685  27.294594
2017-01-31  28.550681  28.607239  28.425779  28.597813
2017-02-28  32.444870  32.530077  32.354928  32.423569
2017-03-31  34.016459  34.146637  33.848410  34.002258
2017-04-30  34.104028  34.153733  33.909947  33.999886

In [220]:
df_volumej = sony_table.loc['2020-10':'2021-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volumej)
print('\n---------------------- separate line--------------------\n')
df_2021 = sony_table.loc['2020-10':'2021-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2021)

             Volume  Stock Splits
Date
2020-10-31  1479300             0
2020-11-30   969700             0
2020-12-31   670700             0
2021-01-31   859200             0
2021-02-28  1002900             0
2021-03-31   597500             0
2021-04-30  1080500             0

---------------------- separate line--------------------

                  Open        High         Low       Close
Date
2020-10-31   83.250000   84.050003   82.580002   83.660004
2020-11-30   93.650002   94.000000   92.620003   93.290001
2020-12-31  100.930000  101.400002  100.610001  101.099998
2021-01-31   97.000000   97.089996   95.089996   95.709999
2021-02-28  106.930000  106.989998  105.370003  105.809998
2021-03-31  105.559998  106.800003  105.260002  106.010002
2021-04-30  101.330002  102.300003  100.000000  100.160004

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [221]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852380  22.440243  ...          NaN           NaN
2016-02-29  22.450751  22.768298  ...          NaN           NaN
2016-03-31  25.431520  25.473242  ...          NaN           NaN
2016-04-30  21.785533  21.954737  ...          NaN           NaN
2016-05-31  23.226407  23.412965  ...          NaN           NaN
2016-06-30  22.023114  22.333264  ...          NaN           NaN
2016-07-31  24.296782  24.380733  ...          NaN           NaN
2016-08-31  24.773061  24.986419  ...          NaN           NaN
2016-09-30  26.367386  26.580745  ...          NaN           NaN
2016-10-31  26.646394  26.782382  ...  105677600.0           0.0
2016-11-30  26.300090  26.441488  ...  144649200.0           0.0
2016-12-31  27.490195  27.619809  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [222]:
concatj = pd.concat([sony_bar, df_volumej], axis = 1)
print(concatj)

                  Open        High  ...     Volume  Stock Splits
Date                                ...
2020-01-31   70.989998   70.989998  ...        NaN           NaN
2020-02-29   59.490002   62.459999  ...        NaN           NaN
2020-03-31   59.270000   60.500000  ...        NaN           NaN
2020-04-30   64.160004   64.440002  ...        NaN           NaN
2020-05-31   64.199997   64.760002  ...        NaN           NaN
2020-06-30   68.629997   69.220001  ...        NaN           NaN
2020-07-31   76.980003   77.970001  ...        NaN           NaN
2020-08-31   78.650002   78.980003  ...        NaN           NaN
2020-09-30   76.750000   77.440002  ...        NaN           NaN
2020-10-31   83.250000   84.050003  ...  1479300.0           0.0
2020-11-30   93.650002   94.000000  ...   969700.0           0.0
2020-12-31  100.930000  101.400002  ...   670700.0           0.0
2021-01-31         NaN         NaN  ...   859200.0           0.0
2021-02-28         NaN         NaN  ...  1002900.0           0.0
2021-03-31         NaN         NaN  ...   597500.0           0.0
2021-04-30         NaN         NaN  ...  1080500.0           0.0

[16 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [223]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646394  26.782382  ...  105677600             0
2016-11-30  26.300090  26.441488  ...  144649200             0
2016-12-31  27.490195  27.619809  ...  122345200             0

[3 rows x 7 columns]

In [224]:
concatj = pd.concat([sony_bar,df_volumej],axis = 1, join = 'inner')
print(concatj)

                  Open        High  ...   Volume  Stock Splits
Date                                ...
2020-10-31   83.250000   84.050003  ...  1479300             0
2020-11-30   93.650002   94.000000  ...   969700             0
2020-12-31  100.930000  101.400002  ...   670700             0

[3 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [225]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243          NaN
2016-02-29  22.450751  22.768298  22.402077  22.411348    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572          NaN
2016-12-31  27.490195  27.619809  27.202685  27.294594          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569          NaN
2017-03-31  34.016459  34.146637  33.848410  34.002258          NaN
2017-04-30  34.104028  34.153733  33.909947  33.999886          NaN

In [226]:
appendj = sony_bar.append(df_2021)
print(appendj)

                  Open        High         Low       Close  rate_return
Date
2020-01-31   70.989998   70.989998   69.910004   70.180000          NaN
2020-02-29   59.490002   62.459999   59.349998   62.200001    -0.113708
2020-03-31   59.270000   60.500000   58.610001   59.180000    -0.048553
2020-04-30   64.160004   64.440002   63.400002   64.250000     0.085671
2020-05-31   64.199997   64.760002   63.650002   64.760002     0.007938
2020-06-30   68.629997   69.220001   68.459999   69.129997     0.067480
2020-07-31   76.980003   77.970001   76.910004   77.959999     0.127730
2020-08-31   78.650002   78.980003   78.440002   78.639999     0.008722
2020-09-30   76.750000   77.440002   76.279999   76.750000    -0.024034
2020-10-31   83.250000   84.050003   82.580002   83.660004     0.090033
2020-11-30   93.650002   94.000000   92.620003   93.290001     0.115109
2020-12-31  100.930000  101.400002  100.610001  101.099998     0.083717
2020-10-31   83.250000   84.050003   82.580002   83.660004          NaN
2020-11-30   93.650002   94.000000   92.620003   93.290001          NaN
2020-12-31  100.930000  101.400002  100.610001  101.099998          NaN
2021-01-31   97.000000   97.089996   95.089996   95.709999          NaN
2021-02-28  106.930000  106.989998  105.370003  105.809998          NaN
2021-03-31  105.559998  106.800003  105.260002  106.010002          NaN
2021-04-30  101.330002  102.300003  100.000000  100.160004          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [227]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243          NaN
2016-02-29  22.450751  22.768298  22.402077  22.411348    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572          NaN
2016-12-31  27.490195  27.619809  27.202685  27.294594          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569          NaN
2017-03-31  34.016459  34.146637  33.848410  34.002258          NaN
2017-04-30  34.104028  34.153733  33.909947  33.999886          NaN

In [228]:
concatj = pd.concat([sony_bar, df_2021], axis = 0)
print(concatj)

                  Open        High         Low       Close  rate_return
Date
2020-01-31   70.989998   70.989998   69.910004   70.180000          NaN
2020-02-29   59.490002   62.459999   59.349998   62.200001    -0.113708
2020-03-31   59.270000   60.500000   58.610001   59.180000    -0.048553
2020-04-30   64.160004   64.440002   63.400002   64.250000     0.085671
2020-05-31   64.199997   64.760002   63.650002   64.760002     0.007938
2020-06-30   68.629997   69.220001   68.459999   69.129997     0.067480
2020-07-31   76.980003   77.970001   76.910004   77.959999     0.127730
2020-08-31   78.650002   78.980003   78.440002   78.639999     0.008722
2020-09-30   76.750000   77.440002   76.279999   76.750000    -0.024034
2020-10-31   83.250000   84.050003   82.580002   83.660004     0.090033
2020-11-30   93.650002   94.000000   92.620003   93.290001     0.115109
2020-12-31  100.930000  101.400002  100.610001  101.099998     0.083717
2020-10-31   83.250000   84.050003   82.580002   83.660004          NaN
2020-11-30   93.650002   94.000000   92.620003   93.290001          NaN
2020-12-31  100.930000  101.400002  100.610001  101.099998          NaN
2021-01-31   97.000000   97.089996   95.089996   95.709999          NaN
2021-02-28  106.930000  106.989998  105.370003  105.809998          NaN
2021-03-31  105.559998  106.800003  105.260002  106.010002          NaN
2021-04-30  101.330002  102.300003  100.000000  100.160004          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [229]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243          NaN        NaN
2016-02-29  22.450751  22.768298  22.402077  22.411348    -0.001288        NaN
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211        NaN
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921        NaN
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773        NaN
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660        NaN
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063        NaN
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652        NaN
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504        NaN
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334        NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601        NaN
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955        NaN
2016-10-31        NaN  26.782382  26.540886  26.620604          NaN  26.646394
2016-11-30        NaN  26.441488  25.986656  26.045572          NaN  26.300090
2016-12-31        NaN  27.619809  27.202685  27.294594          NaN  27.490195
2017-01-31        NaN  28.607239  28.425779  28.597813          NaN  28.550681
2017-02-28        NaN  32.530077  32.354928  32.423569          NaN  32.444870
2017-03-31        NaN  34.146637  33.848410  34.002258          NaN  34.016459
2017-04-30        NaN  34.153733  33.909947  33.999886          NaN  34.104028

In [230]:
df_2021.columns = ['Change', 'High','Low','Close']
concatj = pd.concat([sony_bar, df_2021], axis = 0)
print(concatj)

                  Open        High  ...  rate_return      Change
Date                                ...
2020-01-31   70.989998   70.989998  ...          NaN         NaN
2020-02-29   59.490002   62.459999  ...    -0.113708         NaN
2020-03-31   59.270000   60.500000  ...    -0.048553         NaN
2020-04-30   64.160004   64.440002  ...     0.085671         NaN
2020-05-31   64.199997   64.760002  ...     0.007938         NaN
2020-06-30   68.629997   69.220001  ...     0.067480         NaN
2020-07-31   76.980003   77.970001  ...     0.127730         NaN
2020-08-31   78.650002   78.980003  ...     0.008722         NaN
2020-09-30   76.750000   77.440002  ...    -0.024034         NaN
2020-10-31   83.250000   84.050003  ...     0.090033         NaN
2020-11-30   93.650002   94.000000  ...     0.115109         NaN
2020-12-31  100.930000  101.400002  ...     0.083717         NaN
2020-10-31         NaN   84.050003  ...          NaN   83.250000
2020-11-30         NaN   94.000000  ...          NaN   93.650002
2020-12-31         NaN  101.400002  ...          NaN  100.930000
2021-01-31         NaN   97.089996  ...          NaN   97.000000
2021-02-28         NaN  106.989998  ...          NaN  106.930000
2021-03-31         NaN  106.800003  ...          NaN  105.559998
2021-04-30         NaN  102.300003  ...          NaN  101.330002

[19 rows x 6 columns]

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.